<h1>Post!</h1>

<% if user_signed_in? %>
  <%= link_to 'Edit Profile', edit_user_registration_path %><br />
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Sign Up', new_user_registration_path) %><br />
  <%= link_to('Login', new_user_session_path) %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% @posts.each do |post| %>

  <h2>
    <%= link_to post.title, post %>
  </h2>

  <p>
    <%= post.body %>
  </p>
  <p>
    <%= post.created_at.strftime("%B, %d, %Y") %>
    <%= link_to "Like", post_likes_path(post), method: :post %>
  </p>

  <p>
    <%= post.user.name %>
    <%= link_to(image_tag(post.user.avatar.thumb.url, alt: 'Avatar'), post.user.avatar.url, target: '_blank') if post.user.avatar? %>
  </p>

<% end %>
<br />
<p>
  <%= link_to "Create a new post", new_post_path %>
</p>
