<h1>Post!</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% @posts.each do |post| %>

  <h2>
    <%= link_to post.title, post %>
  </h2>

  <p>
    <%= post.body %>
  </p>
  <p>
    <%= post.created_at.strftime("%B, %d, %Y") %>
  </p>

  <p>
    <%= post.user.email %>
  </p>
  

<% end %>
