
<%= link_to "Back to Posts", posts_path %>

<h2>Title</h2>
<p>
  <%= @post.title %>
</p>

<h2>Body</h2>
<p>
  s
  <%= @post.body %>
</p>

<p>
  <%= @post.created_at.strftime("%B, %d, %Y") %>
</p>

<div id="likes">
  <%= render partial: "likes" %>
</div>

<%= link_to "Edit Posts", edit_post_path(@post) %><br />
<%= link_to "Delete Posts", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>Comments</h2>
<%= render 'comments/comment' %>

<h2>Add a Comment:</h2>
<%= render 'comments/form' %>
