
<%= link_to "Back to Posts", posts_path %>

<% if object.errors.any? %>
  <h3>Some errors were found:</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h2>Title</h2>
<p>
  <%= @post.title %>
</p>

<h2>Body</h2>
<p>
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
  <%= @post.body %>
</p>

<p>
  <%= @post.created_at.strftime("%B, %d, %Y") %>
</p>

<%= link_to "Edit Posts", edit_post_path(@post) %><br />
<%= link_to "Delete Posts", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>Comments</h2>
<%= render 'comments/comment' %>

<h2>Add a Comment:</h2>
<%= render 'comments/form' %>
